<div id="id01" class="w3-row w3-modal" style="background-color: #48484889; z-index: 120;" role="dialog" aria-modal="true" aria-labelledby="modal-title">
  <div class="w3-row w3-bottom w3-white w3-mobile" style="right: 0; max-width: 420px; border-radius: 15px 15px 0px 0px;">
    <div class="w3-row">
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-black w3-display-topright" style="padding: 8px; border-radius: 15px; margin-top:12px; margin-right: 12px;height: 40px;width: 40px;display: inline-flex; align-items: center; justify-content: center; " aria-label="Close modal">
        <svg width="40" height="40" viewBox="0 0 1.2 1.2" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.264 0.264a0.05 0.05 0 0 1 0.07 0L0.6 0.53 0.864 0.266a0.05 0.05 0 1 1 0.07 0.07L0.67 0.6l0.264 0.264a0.05 0.05 0 0 1 -0.07 0.07L0.6 0.67 0.336 0.934A0.05 0.05 0 0 1 0.266 0.864L0.53 0.6 0.264 0.336a0.05 0.05 0 0 1 0 -0.07" fill="#FFFFFF"/></svg>
      </span>
      <div class="w3-hal w3-padding">
        <div class="w3-text-dark-gray" style="border-radius: 15px;">
          
          <div style="margin-top: 50px;">
            <h2 id="modal-title" class="w3-xlarge"><strong>Get Call From Our Sales Executive.</strong></h2>
            <p>Please, Fill The Form And Get Call From Our Expert Tour Executive For A Customized Travel Package.</p>
          </div>
          <div class="HR"></div>
          
          <form class="gscript-form">
            <div style="margin-bottom: 6px;" class="elem-group w3-col s12 m12 l12">
              <label for="name" class="w3-small" style="margin-bottom: 4px;">Full Name <span class="w3-text-red">*</span></label>
              <input style="border-radius: 15px;" class="w3-input w3-large w3-round w3-tiny w3-border" type="text" id="name" name="name" placeholder="John Doe" pattern="[A-Z\sa-z]{3,20}" required="">
            </div>
            <div class="elem-group w3-col s12 m12 l12" style="margin-bottom: 6px;">
              <label for="email" class="w3-small" style="margin-bottom: 4px;">Email Address <span class="w3-text-red">*</span></label>
              <input style="border-radius: 15px;" class="w3-input w3-large w3-round w3-tiny w3-border" type="email" id="email" name="email" placeholder="john.doe@email.com" required="">
            </div>
            <div class="elem-group w3-col s12 m12 l12" style="margin-bottom: 6px;">
              <label for="phone" class="w3-small" style="margin-bottom: 4px;">Contact Number <span class="w3-text-red">*</span></label>
              <input style="border-radius: 15px;" class="w3-input w3-large w3-round w3-tiny w3-border" type="tel" id="phone" name="phone" placeholder="+91-81294-71645" required="">
            </div>
            <div class="w3-row">
              <div class="w3-col s4 m4 l4" style="margin-bottom: 6px;">
                <label for="adult" class="w3-small" style="margin-bottom: 4px;">Traveller Count <span class="w3-text-red">*</span></label>
                <input style="border-radius: 15px;" class="w3-input w3-large w3-round w3-tiny w3-border" type="number" id="adult" name="adults" placeholder="Travellers Count" min="1" required="">
              </div>
              <div class="w3-col s8 m8 l8" style="padding-left: 12px;">
                <label for="checkout-date" class="w3-small" style="margin-bottom: 4px;">Travel Date <span class="w3-text-red">*</span></label>
                <input style="margin-bottom: 4px; border-radius: 15px;" class="w3-right-align w3-rest w3-input w3-large w3-round w3-tiny w3-border" type="date" id="checkout-date" name="date" required="">
              </div>
            </div>

            <div class="w3-row">
              <button class="w3-large w3-mobile w3-button w3-round w3-text-white w3-margin-top w3-margin-bottom w3-left w3-teal w3-small w3-block" style="border-radius: 30px;" type="submit">Connect With an Expert</button>
            </div>
            <div class="error-message w3-text-red w3-margin-top" style="display: none; font-weight: bold;"></div>
          
          </form> <!-- FORM CLOSES HERE NOW -->
        
        </div> <!-- w3-text-dark-gray CLOSES HERE NOW -->
      </div>
    </div>
  </div>
</div>