

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title}} - Tripquestholidays.in
</title>
  <link rel="icon" type="image/x-icon" href="{{ site.url }}/assets/images/favicon.ico">
  <meta name="description"
    content="Book your dream Shimla Manali honeymoon travel package with top-rated resorts, scenic tours, and private cab services. Enjoy snow-capped mountains, cozy stays, and unforgettable honeymoon moments in Himachal Pradesh. Get best prices and customized itineraries for couples today!">
  <meta name="keywords"
    content="Shimla Manali honeymoon travel package, Shimla Manali tour for couples, Himachal honeymoon packages, romantic Shimla Manali trip, best honeymoon deals in Manali, Shimla Manali honeymoon itinerary, couple trip to Himachal, honeymoon packages from Delhi, luxury Shimla Manali honeymoon, affordable Himachal tour for couples, scenic honeymoon destinations India, romantic mountain honeymoon packages">
  <meta name="author" content="Trip Quest Holidays">

  <meta charset="UTF-8">
  <link rel="canonical"
    href="" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">

  <style>
    .w3-round2{
      border-radius: 15px;
    }
    hr {
      border-bottom: 2px solid #f1f1f1;
      border-top: 2px solid #ffffff;
      border-radius: 30px;
    }

    

    

    

    a {
      text-decoration: none;
    }



    #more {
      display: none;
    }

    .w3-content {
      max-width: 1100px;
    }



  </style>
</head>

<body>

  {% include form1.html %}
  {% include form2.html %}


  <!--end-->
 


  <!-- Navbar -->
{% include nav.html %}
<!--Post Header-->

  <!-- Header mobile-->

  <div
    class="w3-hide-large w3-hide-medium w3-display-container">
    <div class="w3-display-bottomleft w3-white w3-hide-large w3-hide-medium"
      style="z-index: 30; width: 100%; border-radius: 15px 15px 0px 0px; padding: 0px 18px; margin-bottom: -3px;">
    <div class="w3-row w3-margin-bottom" style="margin-top: 30px;">
        <div class="w3-col s12 m6 l6"><strong class="w3-text-gray">
          <div class="w3-flex">
          <div>
          <svg width="28px" class="w3-light-gray w3-round-xxlarge w3-text-dark-gray" style="margin-right: 12px; padding: 6px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#484848" d="M256 0a256 256 0 1 1 0 512 256 256 0 1 1 0-512zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"></path></svg>
         </div>
              <div style="padding-top:3px;">
                {% assign current_cat = page.destination %}
              {% assign shimla_tours = site.tour | where_exp: "item", "item.category contains current_cat" %}
{{ shimla_tours.size }} + Related Tours
            </div>
</div>
            </strong></div>
        <div class="w3-col s6 m6 l6 w3-right">
          <div class="w3-right w3-text-gray">
            
          </div>
        </div>

      </div>
    </div>


    <div class="w3-row w3-display-container">



      <div class="w3-row" style="height: 570px; width: 100%;">
        <img alt="shimla couple tour from chandigarh"
          style="object-fit: cover; overflow: hidden; height: 100%; width: 100%;" src="{{ site.url}}/assets/images/{{ page.image }}" />
      </div>
      

    </div>
   
  </div>



  <div class="w3-row">
    <section class="w3-content w3-row">

      <div class="w3-twothird">
        <div class="w3-row w3-round w3-padding ">


  <!-- Header -->

  <div class="w3-row  w3-hide-small">

    <div class="w3-content w3-margin-top w3-row w3-text-gray w3-margin-bottom" style="padding:6px 0px; padding-bottom: 0px; overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 1;
           line-clamp: 1; 
   -webkit-box-orient: vertical;">
   <span class="w3-hover-text-teal"> <a href="{{ site.url }}">
    <div class="w3-col" style="width: 20px; padding-top: 2px; padding-right: 3px;">
      <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.5" d="M2 12.2039C2 9.91549 2 8.77128 2.5192 7.82274C3.0384 6.87421 3.98695 6.28551 5.88403 5.10813L7.88403 3.86687C9.88939 2.62229 10.8921 2 12 2C13.1079 2 14.1106 2.62229 16.116 3.86687L18.116 5.10812C20.0131 6.28551 20.9616 6.87421 21.4808 7.82274C22 8.77128 22 9.91549 22 12.2039V13.725C22 17.6258 22 19.5763 20.8284 20.7881C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.7881C2 19.5763 2 17.6258 2 13.725V12.2039Z" fill="#484848"></path>
<path d="M9 17.25C8.58579 17.25 8.25 17.5858 8.25 18C8.25 18.4142 8.58579 18.75 9 18.75H15C15.4142 18.75 15.75 18.4142 15.75 18C15.75 17.5858 15.4142 17.25 15 17.25H9Z" fill="#ffffff"></path>
</svg></div>
    Home</a></span> / <span class="w3-hover-text-teal"> Destinations</span> / <span class="w3-hover-text-teal"> {{ page.title }}</span></div>

    <div class="w3-row" style="height: 300px;">
        <img class="w3-border w3-border-light-gray" alt="shimla couple tour from chandigarh"
          style="object-fit: cover; overflow: hidden; height: 100%; width: 100%; border-radius: 15px;"
          src="{{ site.url}}/assets/images/{{ page.image }}" />
</div>
    

   
  

  </div>



          <div class="w3-row w3-hide-small" style="height: 25px;"> </div>



          <h1 class="w3-text-dark-gray" style=" font-size: 25px; margin: 2px 0px;
              font-weight: 700;">{{ page.title }}</h1>
              <hr style=" border-top:2px solid #f1f1f1; border-radius:30px; width:40%;">


<div class="w3-row w3-stretch w3-white" style="padding: 6px 16px; box-shadow: 0 4px 20px -12px rgba(0,0,0,0.19);
  border-radius: 0px 0px 15px 15px; z-index: 40; position: -webkit-sticky;
position: sticky;
top:63px;">
<div class="w3-col w3-right" style="width: 110px;">
        <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-teal w3-small w3-card-4" style="border-radius: 30px; margin-top: 8px;">Enquire Now</button>
      </div>
<div class="w3-rest">
              <p style="margin-top: 9px;">
                <b class="w3-small">
                  Get Your Coustomized {{ post.destination }} Tour Package
               </b>
               
              </p>
            </div>

              
            </div>


{{ page.content }}


<!-- Social Share Buttons-->






          <hr>
       


         
        </div>
      </div>

      <div class="w3-third w3-hide-small" style="object-fit: contain; padding: 6px 6px; position: sticky; top: 63px;">
        <div class="w3-row w3-round w3-paddin">

        

          <div class="">

            <div class="w3-text-dark-gray w3-margin" style="margin-top: 0px !important; background-color: #f9f9f9; border-radius: 10px;">
              <div class="w3-padding">
                <h2 class="w3-large w3-text-dark-gray" style="font-weight: 700;">
                 Get Your Coustomized Tour Package Now
                  </h2>
                 
                

              </div></div>
              {% include form3.html %}
          </div>
        </div>

      </div>






    </section>


  </div>





 <!--related pacages-->
 <!--Travel packages-->
 <div>






  <div class="w3-content w3-padding">

   

  
   
<div class="w3-row w3-row-padding" style="margin: 0px -16px;">

 
   <h2 class="w3-large" style="padding: 10px 8px; margin-bottom: 18px;"><strong>Related Tour Packages</strong></h2>
 
 
{% assign current_cat = page.destination %}
       {% for post in site.tour %}
       {% if post.category contains current_cat %}
       <!--1-->
       <div class="w3-third" style="margin-bottom: 30px; height: fit-content;">
         <a class="w3-row" style="display: block; text-decoration: none;"
           href="{{ site.url }}{{ post.url | relative_url }}">
           <div class="w3-row" style="height: 300px; width:100%px;">
             <img class="w3-border w3-border-light-gray" alt="{{ post.imgh1 }}"
               src="{{ site.url }}/assets/images/{{ post.img1 }}"
               style="border-radius: 15px; object-fit: cover; overflow: hidden; height: 100%; width: 100%;">
             
           </div>
   
           <div class="w3-row">
             <div class="w3-row w3-margin-top">
               <div class="w3-left w3-text-gray w3-small" style="font-weight: 700;">
                   {{ post.duration }}</div>
               <div class="w3-right w3-text-gray w3-small">
                 
               </div>
             </div>
   
             <h3 class="w3-text-dark-gray"
               style="font-size: 13px; margin: 8px 0px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; font-weight: 500; -webkit-box-orient: vertical; font-size:15px;">
               {{ post.title }}
             </h3>
   <p class="w3-small w3-text-dark-gray">From : {{ post.from_location }} | By : {{ post.tour_by }}</p>
             <div class="w3-row w3-small w3-text-gray w3-round-large w3-margin-bottom"
               style="padding: 6px 12px; background-color:#f8f9fa;">
               Destinations: {{ post.destinations }} Etc.
             </div>
   
             <b class="w3-large">INR {{ post.price }} <span class="w3-small w3-text-gray">{{
                 post.price_per }}</span> </b>
             <br><strike class="w3-text-gray">INR {{ post.price_x }}</strike>
           </div>
         </a>
   
         <div class="w3-row w3-margin-top">
           <div class="w3-col" style="width: 50px;">
             <a href="tel:+918219471645" aria-label="Call Now To Enquire"
               class="w3-button w3-light-gray w3-small w3-border w3-border-sand"
               style="width: 34px; height: 34px; padding: 0px; border-radius: 30px; display: inline-flex; align-items: center; justify-content: center;">
               <svg width="12px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                 <path
                   d="M160.2 25C152.3 6.1 131.7-3.9 112.1 1.4l-5.5 1.5c-64.6 17.6-119.8 80.2-103.7 156.4 37.1 175 174.8 312.7 349.8 349.8 76.3 16.2 138.8-39.1 156.4-103.7l1.5-5.5c5.4-19.7-4.7-40.3-23.5-48.1l-97.3-40.5c-16.5-6.9-35.6-2.1-47 11.8l-38.6 47.2C233.9 335.4 177.3 277 144.8 205.3L189 169.3c13.9-11.3 18.6-30.4 11.8-47L160.2 25z" />
               </svg>
             </a>
           </div>
           <div class="w3-rest">
             <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-small w3-teal"
               style="border-radius: 30px; padding-left: 40px; padding-right: 40px;">
               Request Callback
             </button>
           </div>
         </div>
       </div>
       {% endif %}
       {% endfor %}
     
  

 

 

 
     
       
      

 

         </div>


 </div>

   
 
 


   

       

   </div>
 
  <!--Related Packages-->

 <!--Travel packages-->
 


<!---ksdfzhal-->
{% include footer.html %}




  <script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction2() {
      var x = document.getElementById("navDemo2");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>


  <script>
  

 
    function myFunction(id) {
      var x = document.getElementById(id);
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>

 
</body>

</html>